<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/CODE/SKILLO/TAF">
        <classes>
            <!--<class name="gui.SeleniumVanillaLoginTest">
                <methods>
                    <include name="verifyBasicNavigationWorks"/>
                </methods>
            </class>
            <class name="gui.e2e.DemonstrationTest">
                <methods>
                    <include name="verifyUserCanRegisterLoginUpdateProfileAndCreatePost"/>
                </methods>
            </class>
            <class name="gui.e2e.DemonstrationTest">
                <methods>
                    <include name="verifyUserCanCreateNewPost"/>
                </methods>
            </class>-->
            <class name="gui.regression.login.LoginHappyTest">
                <methods>
                    <include name="verifyUserCanLoginViaNavLoginBtn"/>
                </methods>
            </class>
            <class name="gui.regression.login.LoginNegativeTest">
                <methods>
                    <include name="verifyUserCannotLoginWithWrongUsername"/>
                </methods>
            </class>
            <class name="gui.regression.post.PostHappyTest">
                <methods>
                    <include name="verifyUserCanCreateNewPost"/>
                </methods>
            </class>
            <class name="gui.regression.profile.ProfileHappyTest">
                <methods>
                    <include name="verifyUserCanUpdateProfilePicture"/>
                </methods>
            </class>
            <class name="gui.regression.profile.ProfileModalHappyTest">
                <methods>
                    <include name="verifyProfileModalLayoutIsPerRequirements"/>
                </methods>
            </class>
            <class name="gui.regression.registration.RegistrationPageHappyTest">
                <methods>
                    <include name="verifyRegistrationPageLayoutIsPerRequirements"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>